﻿.MainBlock
{
    width: 750px;
    margin-left: auto;
    margin-right: auto;
}

.ProductBlock
{
    display: inline-block;
    width: 230px;
    height: 250px;
    border: 1px solid #008080;
    background-color: azure;
    margin-bottom: 4px;
}

    .ProductBlock:hover
    {
        cursor: pointer;
    }

.ProductImage
{
    margin-left: 15px;
}

.userData
{
    margin-top: 150px;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    background-color: azure;
}

.Next
{
    display: inline-block;
    height: 340px;
    width: 100px;
    background: #0c0c0c url('http://demos.kendoui.com/content/spa/websushi/css/images/nav-next.png') no-repeat center;
}

    .Next:hover
    {
        background: #00ff00 url('http://demos.kendoui.com/content/spa/websushi/css/images/nav-next.png') no-repeat center;
    }

.Prew
{
    margin-left: 4px;
    display: inline-block;
    height: 340px;
    width: 100px;
    background: #0c0c0c url('http://demos.kendoui.com/content/spa/websushi/css/images/nav-prev.png') no-repeat center;
}

    .Prew:hover
    {
        background: #00ff00 url('http://demos.kendoui.com/content/spa/websushi/css/images/nav-prev.png') no-repeat center;
    }

.close
{
    position: absolute;
    content: " ";
    display: block;
    background: url('http://demos.kendoui.com/content/spa/websushi/css/images/close-icon.png') no-repeat;
    top: 32px;
    right: 32px;
    width: 38px;
    height: 38px;
    cursor: pointer;
}

html
{
    font: 75% 'Droid Sans', sans-serif;
    height: 100%;
    background: #0c0c0c url('http://demos.kendoui.com/content/spa/websushi/css/images/background-image.png')repeat left top;
}
