﻿@{
    ViewBag.Title = "Index";
}

<div data-bind="with: view" class="MainBlock">
    <div data-bind="template: { name: templateName, data: data }"></div>
</div>

<script id="ProductsTmpl" type="text/html">
    <div data-bind="foreach: model.items">
        <div class="ProductBlock" data-bind="click: $parent.show">
            <div data-bind="text: Name"></div>
            <img width="200px" height="200px" data-bind="attr:{src: Image}" class="ProductImage" />
            <div data-bind=" text: Description" style="display: inline-block"></div>
            <div data-bind="text: Price" style="display: inline-block"></div>
        </div>
    </div>
</script>

<script id="ProductTmpl" type="text/html">
    <div class="userData">
        <div data-bind="click: home" class="close"></div>
        <div style="display: inline-block; margin-right: 10px;  cursor:pointer" data-bind="click: prev" class="Prew"></div>
        <div class="userdetails" style="display: inline-block" data-bind="with: model">
            <div data-bind="text: Name" class="container"></div>
            <img width="300px" height="300px" data-bind="attr:{src: Image}" class="ProductImage" />
            <div data-bind="text: Description"></div>
            <div data-bind="text: Price " style="display: inline-block"></div>
        </div>
        <div style="display: inline-block;  margin-left: 10px;  cursor:pointer" data-bind="click: next" class="Next"></div>

    </div>
</script>

@section scripts {
<script type="text/javascript">
    var bootstrap = { items: @Html.Raw(Json.Encode(Model)) };
</script>
<script type="text/javascript">
    (function(){

        var View = function(templateName, data) {
            this.templateName = templateName;
            this.data = data; 
        };

        Site = {
            vm: {},
            View: View,

            page: {
                view: ko.observable(),

                show: function(view) {
                    view && Site.page.view(view);
                }
            },

            start: function() {
                ko.applyBindings(Site.page);
            }
        };

    })();
    
    Site.vm.Products = function(items) {
        this.items = ko.observableArray([]);
        this.update = function(items) {
            this.items.removeAll();
            for (var i = 0; i < items.length; i++) {
                this.items.push(new Site.vm.Product(items[i]));
            }
        };
        this.update(items);
    };

    Site.vm.Product = function(data) {
        this.Id = ko.observable();
        this.Name = ko.observable();
        this.Description = ko.observable();
        this.Price = ko.observable();
        this.Image = ko.observable();
        
        this.update = function(dto) {
            this.Dto = dto;
            this.Id(dto.Id || '');
            this.Name(dto.Name || '');
            this.Description(dto.Description || '');
            this.Price(dto.Price || 0);
            this.Image(dto.Image || '');
        };
        this.update(data);
    };

    $(function(){
        Site.start();

        var nav = {
            product: function (productid) { 
                location.hash ='/product/'+productid; 
            }, 

            home: function() {
                location = '';
            }
        };

        var products = new Site.vm.Products(bootstrap.items);

        Sammy(function () {

            this.get('#/product/:productid', function () {
                var productid = this.params.productid;
                var datum = products.items();
                var index = _.findIndex(datum, function(data) {
                    return data.Id() == productid;
                });

                if (index < 0) {
                    nav.home();
                }

                var viewModel = { 
                    model: datum[index],
                    home: nav.home, 
                    prev: function() {
                        var data = datum[index-1] || datum[datum.length-1];
                        data && nav.product(data.Id());
                    }, 
                    next: function(){
                        var data = datum[index+1] || datum[0];
                        data && nav.product(data.Id());
                    }
                };
                var view = new Site.View('ProductTmpl', viewModel);
                Site.page.show(view);
            });

            // when page load happens show default data, using sammy routing mechanism
            this.get('', function () {
                var viewModel = { 
                    model: products,
                    show: function(data) {
                        nav.product(data.Id());
                    }
                };
                var view = new Site.View('ProductsTmpl', viewModel);
                Site.page.show(view);
            });

        }).run();
    });

</script>
}