﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta name="viewport" content="width=device-width" />
	<title>@ViewData["Title"]</title>
	<meta name="description" content="" />
	<meta name="keywords" content="" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js" type="text/javascript"></script>
    <link href="~/Content/CSS/Site.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
</head>
<body>
	@RenderBody()
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.0.0/knockout-min.js" type="text/javascript"></script>
    <script src="http://learn.knockoutjs.com/scripts/lib/sammy.js" type="text/javascript"></script>
	@RenderSection("scripts", required: false)
</body>
</html>